.modal_styles {
  position: fixed;
  background-color: rgba(0,0,0,0);
  z-index: 1000;
  font-size: 5rem;
  color: white;
  border: 0;
  border-bottom: 2px solid white;
  top: 40%;
  left: 2%;
  width: 95%;
}

.overlay_styles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, .8);
  z-index: 100;
}